In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import chi2
from sklearn import preprocessing
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#load data
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
submission = pd.read_csv('submission.csv')

C:\Users\grant\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
#get the name of 'south korean'
country =train_data.Country_Region.unique()
print(country)

In [4]:
# filter to extrect korean data
train_data=train_data[train_data['Country_Region']=='Korea, South']

# check head and drop unuseful columns
train=train_data.drop(['Id','County','Province_State','Country_Region'],axis=1)

# convert the target value to integer, confirmedCases to 1, Fatalities to 0
train['Target'].replace({'ConfirmedCases':1, 'Fatalities':0}, inplace=True)

train.head()
# test_data=test_data[test_data['Country_Region']=='Korea, South']
# test=test_data.drop(['ForecastId','County','Province_State','Country_Region','Target'],axis=1)

       Population    Weight        Date  Target  TargetValue
43680    25281000  0.058666  2020-01-23       1            0
43681    25281000  0.586663  2020-01-23       0            0
43682    25281000  0.058666  2020-01-24       1            1
43683    25281000  0.586663  2020-01-24       0            0
43684    25281000  0.058666  2020-01-25       1            0

In [5]:
# create useful features for data mining tools to increase performance
# By transforming 'Date' into single values such as 'day' 'dayofweek' 'month'...
train['Date']=pd.to_datetime(train['Date'],format = '%Y-%m-%d')
train['day']=train['Date'].dt.day
train['month'] = train['Date'].dt.month
train['quarter'] = train['Date'].dt.quarter
train['dayofweek'] = train['Date'].dt.dayofweek
train['dayofyear'] = train['Date'].dt.dayofyear
train['weekofyear'] = train['Date'].dt.weekofyear
train=train.drop(['Date'],axis=1)
X=train.drop(['TargetValue'],axis=1)
y=train['TargetValue']
X.head()

,Population,Weight,Target,day,month,quarter,dayofweek,dayofyear,weekofyear
43680,25281000,0.058666,1,23,1,1,3,23,4
43681,25281000,0.586663,0,23,1,1,3,23,4
43682,25281000,0.058666,1,24,1,1,4,24,4
43683,25281000,0.586663,0,24,1,1,4,24,4
43684,25281000,0.058666,1,25,1,1,5,25,4

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.23)

In [7]:
gradient_model = make_pipeline(
    GradientBoostingClassifier(n_estimators =70,max_depth=3, min_samples_leaf =1)
)
random_f_model = make_pipeline(
    RandomForestClassifier(n_estimators =200,max_depth =9, min_samples_leaf=40)
)
neural_net_model = make_pipeline(
    MLPClassifier(solver ='lbfgs',hidden_layer_sizes=(11,11),activation ='logistic')
)

knn_model = make_pipeline(
        KNeighborsClassifier(n_neighbors=10)
)

models = [gradient_model,random_f_model,neural_net_model,knn_model]

for i, m in enumerate(models):  
    m.fit(X_train, y_train)
    print(metrics.accuracy_score(y_test, m.predict(X_test)))

0.15384615384615385
0.27692307692307694
0.27692307692307694
0.24615384615384617